<h1>Add a new Cocktail</h1>
<p>Find me in app/views/cocktail/new.html.erb</p>
<hr>

<div class="form-center">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.submit "Add Cocktail", class: "btn btn-primary rounded" %>
  <% end %>
</div>

<br>

<%= link_to "Back", cocktails_path, class: "btn btn-outline-primary btn-sm" %>
